<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>个人中心</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url}}public/css/zhongxin.css"/>
</head>
<body>
<div class="wrap">
    <header>
        <div class="left"><a href=""><img src="{{url}}public/img/zhongxin/pic_1.jpg"/><p>关闭</p></a></div>
        <div class="center">个人中心</div>
        <div class="right"></div>
    </header>
    <section>
        <div class="main">   <img src="{{url}}public/img/B2login/images/h-login-img1.png"/></div>
        <div class="main1">
            <a href=""><h1>个人账户</h1><img src="{{url}}public/img/zhongxin/pic_4.jpg"/></a>
        </div>
        <div class="main2">
            <a href=""><h1>设置</h1><img src="{{url}}public/img/zhongxin/pic_4.jpg"/></a>
        </div>
    </section>
    <footer>
        <dl>
            <dt><img src="{{url}}public/img/zhongxin/pic_5.jpg"/></dt>
            <dd>首页</dd>
        </dl>
        <dl>
            <dt><img src="{{url}}public/img/zhongxin/pic_51.jpg"/></dt>
            <dd><a href="{{url}}index/my">我的订单</a></dd>
        </dl>
        <dl>
            <dt><img src="{{url}}public/img/zhongxin/pic_52.jpg"/></dt>
            <dd>我的</dd>
        </dl>
    </footer>
</div>
</body>
</html>