<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url}}public/css/cunjian.css" />
</head>
<body>
<div class="wrap-weba">
    <header>
        <a href="#"><img src="{{url}}public/img/确认收货/images/B7-05-02在线状态下柜门未弹开页面_03.png" alt="" /></a>
        <a href="#"><h1>关闭</h1></a>
        <h2>错误</h2>
    </header>
    <section>
        <p><img src="{{url}}public/error.png" alt="" /></p>
        <p style="margin-top: 30px;">请填写完整的信息!!</p>
        <a href="{{url}}index/tuikuan"><button class="queren">确认</button></a>
    </section>
    <footer></footer>
</div>
</body>
</html>